
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/motta/Run3preparation/Run3preparation_2023/Muon_Run2022G-PromptReco-v1__MINIAOD/Muon__Run2022G-PromptReco-v1__MINIAOD.root

MainTree: Ntuplizer/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/motta/Run3preparation/Run3preparation_2023/Muon_Run2022G-v1__RAW/Muon_Run2022G-v1__RAW.root

OutputFile:  /data_CMS/cms/motta/Run3preparation/Run3preparation_2023/2023_03_13_optimizationV1_calibThr1p7/Muon_Run2022G-v1_MERGED_2023_03_13.root
