
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_08_reEmu2023_124X/MINIAOD.root

MainTree: Ntuplizer/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_08_reEmu2023_124X/RAW.root

OutputFile:  /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_08_reEmu2023_124X/124X_MERGED.root

