
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/MC124X/DY_124X_MINIAOD.root

MainTree: Ntuplizer_noTagAndProbe/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/MC124X/DY_124X_RAW_postEE.root

OutputFile:  /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/MC124X/DY_124X_postEE_MERGED.root

