
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_01_optimizationV1/GluGluHToTauTau_126X_mcRun3_2023_MINIAOD_hadded.root

MainTree: Ntuplizer_noTagAndProbe/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_01_optimizationV1/GluGluHToTauTau_126X_mcRun3_2023_RAW_ZS0p5_hadded.root

OutputFile:  /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_01_optimizationV1/GluGluHToTauTau_126X_mcRun3_2023_RAW_ntuple_MERGED.root

