*.pyc
*.root
*.so
*.pcm
*.pdf
*.png
*.zip
fit.exe
*~
*#*
*.d
*._*
*.DS_Store
Calibrate/LUTs
MakeRates/*.txt
PlotCalibrationResolution/plots
PlotGoodGridSearch/plots*/
RoundsOptimizationV_.txt
fullBlownCreator.*