TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/amella/Run3_2024/Run3_2024/MC24_Winter_optimization/VBF_MINIAOD.root
MainTree: Ntuplizer_noTagAndProbe/TagAndProbe

SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/amella/Run3_2024/Run3_2024/MC24_Winter_optimization/VBF_RAW_CALIBRATED.root
/data_CMS/cms/amella/Run3_2024/Run3_2024/MC24_Winter_optimization/VBF_RAW.root

OutputFile:  /data_CMS/cms/amella/Run3_2024/Run3_2024/MC24_Winter_optimization/MC24_winter_opti_MERGED_VBF_.root
