
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/motta/Run3preparation/Run3preparation_2023/2023_03_13_optimizationV1p1/VBFHToTauTau_126X_mcRun3_2023_forPU65_MINIAOD/VBFHToTauTau_126X_mcRun3_2023_forPU65_MINIAOD.root

MainTree: Ntuplizer_noTagAndProbe/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/motta/Run3preparation/Run3preparation_2023/2023_03_13_optimizationV1p1/VBFHToTauTau_126X_mcRun3_2023_forPU65_RAW_ZS0p5/VBFHToTauTau_126X_mcRun3_2023_forPU65_RAW_ZS0p5.root

OutputFile:  /data_CMS/cms/motta/Run3preparation/Run3preparation_2023/2023_03_13_optimizationV1p1/VBFHToTauTau_126X_mcRun3_2023_forPU65_MERGED_2023_03_13.root
