
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/noZS_checks_2023/hadd_2023_all_eras.root

MainTree: Ntuplizer/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/noZS_checks_2023/RAW_2023C_noZS.root

OutputFile:  /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/noZS_checks_2023/Run2023C_noZS_MERGED.root

