
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/check_noZS/VBFHToTauTau_124X_mcRun3_2022_realistic_MINIAOD/VBF_124X_MINIAOD.root

MainTree: Ntuplizer_noTagAndProbe/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/check_noZS/VBFHToTauTau_124X_mcRun3_2022_realistic_RAW/VBF_124X_RAW.root

OutputFile:  /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/check_noZS/VBF_124X_MERGED.root

