
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/davignon/TauTagAndProbe_WithSeptember2017Calibrations/CMSSW_9_2_8/src/TauTagAndProbe/TauTagAndProbe/test/Ntuple_MC_AOD_90X_18_09_17.root

MainTree: Ntuplizer_noTagAndProbe/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/davignon/TauTagAndProbe_WithSeptember2017Calibrations/CMSSW_9_2_8/src/TauTagAndProbe/TauTagAndProbe/test/Ntuple_MC_RAW_90X_reEmulTPs_11_10_17.root

OutputFile:  Ntuple_VBF_90X_L1_RECO_Jets_ReEmulTPs_11_10_17.root
