
TreeClass: TauStage2Trees

MainFiles: Ntuple_VBF_RECO_WithMay2017_Jets_12_05_17.root

MainTree: Ntuplizer_noTagAndProbe/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: Ntuple_VBF_L1_WithMay2017_Jets_12_05_17.root

OutputFile:  Ntuple_VBF_L1_RECO_WithMay2017_Jets_12_05_17.root
