
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_03_04_optimizationV0/Muon_Run2022G-v1__RAW__Tau2023_opt1/Muon__Run2022G-PromptReco-v1__MINIAOD.root

MainTree: Ntuplizer/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_03_04_optimizationV0/Muon_Run2022G-v1__RAW__Tau2023_noZS/Muon_Run2022G-v1__RAW__Tau2023_noZS.root

OutputFile:  /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_03_04_optimizationV0/Muon_Run2022G-v1__RAW__Tau2023_noZS/Muon__Run2022G-PromptReco-v1_MERGED.root

