
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/motta/Run3preparation/SingleMuon_Run2022C_Run356375_MINIAOD/SingleMuon_Run2022C_Run356375_MINIAOD.root

MainTree: Ntuplizer/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias

#SecondaryTrees.0.Files: /data_CMS/cms/motta/Run3preparation/SingleMuon_Run2022C_Run356375_RAW/SingleMuon_Run2022C_Run356375_RAW.root
#OutputFile:  /data_CMS/cms/motta/Run3preparation/2022_08_05_DataReEmul_13p6TeV/SingleMuon_Run356375_MERGED.root

SecondaryTrees.0.Files: /data_CMS/cms/motta/Run3preparation/SingleMuon_Run2022C_Run356375_RAW_reEmuTPs/SingleMuon_Run2022C_Run356375_RAW_reEmuTPs.root
OutputFile:  /data_CMS/cms/motta/Run3preparation/2022_08_05_DataReEmul_13p6TeV/SingleMuon_Run356375_reEmuTPs_MERGED.root
