
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/motta/Run3preparation/2022_01_28_optimizationV6/Run3_MC_VBFHToTauTau_M125_MINIAOD_2022_01_28/Run3_MC_VBFHToTauTau_M125_MINIAOD_2022_01_28.root

MainTree: Ntuplizer_noTagAndProbe/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/motta/Run3preparation/2022_01_28_optimizationV6/Run3_MC_VBFHToTauTau_M125_RAW_2022_01_28/Run3_MC_VBFHToTauTau_M125_RAW_2022_01_28.root

OutputFile:  /data_CMS/cms/motta/Run3preparation/2022_01_28_optimizationV6/Run3_MC_VBFHToTauTau_M125_MERGED_2022_01_28.root
