
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/motta/Run3preparation/SingleMuon_Run2022C_Run355913_MINIAOD/SingleMuon_Run2022C_Run355913_MINIAOD.root

MainTree: Ntuplizer/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/motta/Run3preparation/SingleMuon_Run2022C_Run355913_RAW/SingleMuon_Run2022C_Run355913_RAW.root

OutputFile:  /data_CMS/cms/motta/Run3preparation/2022_07_30_DataReEmul_13p6TeV/SingleMuon_Run355913_MERGED.root
