
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/motta/Run3preparation/Run3preparation_2023/2023_03_13_optimizationV1_calibThr1p7/DYToLL_RnD_126X_mcRun3_2023_forPU65_v1_MINIAODSIM/DYToLL_RnD_126X_mcRun3_2023_forPU65_v1_MINIAODSIM.root

MainTree: Ntuplizer_noTagAndProbe/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/motta/Run3preparation/Run3preparation_2023/2023_03_22_optimizationVtest/DYToLL_RnD_126X_mcRun3_2023_forPU65_v1_RAW/DYToLL_RnD_126X_mcRun3_2023_forPU65_v1_RAW.root

OutputFile:  /data_CMS/cms/motta/Run3preparation/Run3preparation_2023/2023_03_22_optimizationVtest/DYToLL_RnD_126X_mcRun3_2023_forPU65_MERGED_2023_03_13.root
