
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_01_optimizationV1/muon_362616_2023_05_01_MINIAOD.root

MainTree: Ntuplizer/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_01_optimizationV1/muon_362616_2023_05_01_RAW.root

OutputFile:  /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_01_optimizationV1/muon_362616_2023_05_01_MERGED.root

