
TreeClass: TauStage2Trees

MainFiles: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_18/Muon_Run2023C-v1_Run367619_MINIAOD1/run367619_MINIAOD.root

MainTree: Ntuplizer/TagAndProbe


SecondaryTrees.N: 1
SecondaryTrees.0.Tree: ZeroBias/ZeroBias
SecondaryTrees.0.Files: /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_18/Muon_Run2023C-v1_Run367619_RAW/run367619_RAW.root

OutputFile:  /data_CMS/cms/mchiusi/Run3preparation/Run3preparation_2023/2023_05_18/Run367619_MERGED.root

