Trainer: GBRTrain
Trainer: GBRLikelihoodTrain
NumberOfRegressions: 1
OutputDirectory: /home/llr/cms/amella/Plotting_efficiency/CMSSW_11_0_2/src/HiggsAnalysis/TagObjectsOptimization/Calibrate/forests_2024

Regression.1.Name: BDT_training_optimization_MC24_winter_optimization
Regression.1.InputFiles: /data_CMS/cms/amella/Run3_2024/Run3_2024/MC24_Winter_optimization/MC24_winter_optimization_COMPRESSED.root
Regression.1.Tree: outTreeForCalibration
Regression.1.Method: BDT
Regression.1.Options: MinEvents=200:Shrinkage=0.1:NTrees=1000:MinSignificance=5.0:RandomSeed=EventNumber
Regression.1.DoErrors: False
Regression.1.DoCombine: False
Regression.1.VariablesEB: abs(compressedieta):compressedE:L1Tau_hasEM:L1Tau_isMerged
Regression.1.VariablesEB: abs(compressedieta):compressedE:compressedsortedshape
Regression.1.VariablesEE: abs(compressedieta):compressedE:L1Tau_hasEM:L1Tau_isMerged
Regression.1.VariablesEE: abs(compressedieta):compressedE:compressedsortedshape
Regression.1.Target: Target
Regression.1.CutBase: OfflineTau_pt>18
Regression.1.CutEB: OfflineTau_pt>18
Regression.1.CutEE: OfflineTau_pt>18
